img {
  display: block;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.startup-projects-main {
  margin-top: 3em;
  display: flex;
}
.project-container {
  margin-bottom: 4em;
}

.project-heading {
  color: rgb(36, 41, 46);
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}

.project-description {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.project-card-description {
  color: rgb(88, 96, 105);
}
.subTitle {
  color: #868e96;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  /* .startup-project-image {
    display: none;
  } */
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
