img {
  display: block;
  max-width: 500px;
  width: 100%;
  height: auto;
}

.startup-projects-main {
  margin-top: 3em;
  display: flex;
}
.project-container {
  margin-bottom: 4em;
}

/* .startup-projects-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.startup-project-image > img {
  max-width: 40%;
  height: auto;
} */

.project-card-head {
  color: rgb(36, 41, 46);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin: 0px;
}
/* 
.startup-project-text {
  display: flex;
  justify-content: space-between;
} */

.project-card-description {
  color: rgb(88, 96, 105);
}
.subTitle {
  color: #868e96;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  /* .startup-project-image {
    display: none;
  } */
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
